In [6]:
#Import Libraries
import pandas as pd

I have to sepparate the data from the full data sheet since I want to import it using pandas, which can't read the inturupting headers. To sepparate the data I created a scipt called extractheaders.sh and saved just the end of the headeline numbers in a file that I've loaded bellow to start. I focused on grabbing these numbers because I know they are the start to each data section and I can then count that each header is 13 lines long and I can choose to skip these lines and extract only the data for that section by noting the line the next header starts.

In [7]:
#load number lines for end of headers from full data 
headerlines=pd.read_table('header_ends.dat')

In [8]:
print(headerlines.head())

     12
0   538
1  1064
2  1590
3  2116
4  2642

In [9]:
#variable for the length of the unseparated data called sabrina.dat
full_file_length=12624

In [15]:
group1=pd.read_table('sabrina.dat', sep='\s+')

CParserError: Error tokenizing data. C error: Expected 2 fields in line 4, saw 9

In [22]:
# Here is my correction to the tokenizing data error. I essentially added an option to skip the rows, thus allowing 
# to read the required field - Changes made by Jhanelle

group1=pd.read_table('sabrina.dat', skiprows=4, sep='\s+')

In [23]:
# Print the head of the data for this data set- comment made my Jhanelle. 
group1.head()

,OBS.,DATE:,20140913,Time,of,record:,1/,0,37,30.0
0,No.,channels:,512,First,channel,plotted,1,NaN,NaN,NaN
1,Bw,(kHz):,0.610,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Antenna,#,2,name:,RT1,NaN,NaN,NaN,NaN,NaN
3,Antenna,#,4,name:,RT3,NaN,NaN,NaN,NaN,NaN
4,Rest,freq.,(MHz),:,1720.5300,Av.,weight,:,0.0143,NaN

In [6]:
#load first 30-min time chunk of data 
#Time of record:   1/  0 37 30.0
table_1=pd.read_table('sabrina.dat', sep='\s+', skiprows=13, skipfooter=length_of_file-527, engine='python')

In [35]:
table_1.head()

  Channel IF Polar  Frequency  Velocity      Ampl(Jy)    Phase
0       1  1    RR  1720.8099         0       FLAGGED      NaN
1       2  1    RR  1720.8093         0  0.258678E-03    6.040
2       3  1    RR  1720.8087         0  0.463556E-03  -95.605
3       4  1    RR  1720.8081         0  0.522407E-03 -106.389
4       5  1    RR  1720.8075         0  0.422755E-03  -20.039

In [45]:
#write loop to print separate tables (like above^) for each data section

for row in ('sabrina.dat'):
    
    # it would be good it you added ''''''' to help define you inputs and outputs clearly
    #table_1=pd.read_table('sabrina.dat', sep='\s+', skiprows=13, skipfooter=length_of_file ==527, engine='python')
    #from your original code above I removed the skipfooter and changed the skiprows to 3
    
    table_1=pd.read_table('sabrina.dat', sep='\s+', skiprows=3, engine='python')
    if row == 'headerlines':
        
    return(table_1)

    else:
        None
print()

IndentationError: expected an indented block (<ipython-input-45-9aa5e145407c>, line 12)

In [66]:
#attempt 2 for writting loop to print separate tables (like above^) for each data section
for row in ('sabrina.dat'):
    if row == 'headerlines':
        table = (pd.read_table('sabrina.dat', sep='\s+', nrows=512, engine='python'))
    print(table)

SyntaxError: can't assign to literal (<ipython-input-66-4bfba4807e1f>, line 4)

In [24]:
#attempt 3 for writting loop to print data 
def print_tables(lines):
    headerlines=pd.read_table('header_ends.dat')
    
    if lines in 'sabrina.dat' & 'headerlines':
        return(pd.read_table('sabrina.dat', sep='\s+', nrows=512))
    
    else:
        None

In [71]:
print_tables('sabrina.dat')

TypeError: unsupported operand type(s) for &: 'str' and 'str'